.btn {
    min-width: 100px;
    min-height: 40px;
    padding: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border: none;
    cursor: pointer;
    transition: all .4s;

    &.primary-btn {
        background-color: $black;
        color: $white;

        &:hover {
            background-color: $white;
            color: $black;
            border: 1px solid lightgrey;
        }
    }

    &.secondary-btn {
        background-color: $blue-dark;
        color: $white;

        &:hover {
            background-color: $white;
            color: $blue-dark;
            border: 1px solid $blue-dark;
        }
    }
}