// Colors

$black: #212121;
$white: #fafafa;

$blue-dark:#1769aa;
$blue-medium:#2196f3;
$blue-light:#4dabf5;

$green-dark: #357a38;
$green-medium: #4caf50;
$green-light: #6fbf73;

$red-dark: #b2102f;
$red-medium: #ff1744;
$red-light: #ff4569;

$yellow: #ffc107;