.header {
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo_container {
    transition: .4s;
    &:hover {
      transform: rotateY(180deg);
    }
  }

  .action_container {
    display: flex;
    justify-content: flex-end;

    a {
      text-transform: uppercase;
      margin-right: 10px;
    }
  }
}
